<div class="text-layout">
    <h3>Decimal & Percent Pipes</h3>
    <p>Pipes included in Angular, usually in the CommonModule.</p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Net sales"
            subheader="of the year">
            <i class="pi pi-dollar"></i>
            {{ netSales | number:'1.2-2' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Gross sales"
            subheader="of the year">
            {{ (netSales + 2000000) | currency:'COP':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Percentage gain"
            subheader="of the year">
            {{ percent | percent:'2.2-2' }}
        </p-card>
    </div>
</div>